/* .ant-menu-item.ant-menu-item.ant-menu-item.ant-menu-item-selected {
  font-weight: 700;
  font-style: normal;
  color: #000000;
}
.ant-menu-item.ant-menu-item.ant-menu-item.ant-menu-item-selected.ant-menu-submenu-selected {
  border-bottom: 2px solid red;
}
.ant-menu-overflow-item.ant-menu-item.ant-menu-item-active.ant-menu-item-selected {
  background-color: #f3f3f3;
  color: #000000;
}

li.ant-menu-overflow-item.ant-menu-item.ant-menu-item-active.ant-menu-item {
  color: #000000;
  background-color: #f3f3f3;
} */
